<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>MyRecipes</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
	<header>
		<div class="header-images flex-start">
			<div class="header-images">
				<img src="/images/letscooking.jpg" alt="" width="50" height="65">
				<img src="/images/hamburger.jpg" alt="" width="75" height="65">
			</div>
		</div>
	</header>
	<!-- 	<div class=" parent-container"> -->
	<div class="flex-around">
		<nav class="nav-detail-left">
			<div class="nav-home-div text-align-center nav-rogin-home-link">
				<ul class="nav-home-link-ul nav-rogin-Home-link">
					<li class="padding-bottom-10"><a class="nav-home-a"
						th:href="@{/}">Topへ戻る</a></li>
					<li class="nav-home-li nav-rogin-a padding-bottom-10"><a
						class="nav-home-a opacity" href="">ログアウト</a></li>
					<li th:each="recipe : ${recipesDetail}" class="padding-bottom-10">
						<a href="" class="nav-home-a opacity">更新 </a>
					</li>
					<li th:each="recipe : ${recipesDetail}" class=""><a
						class="nav-home-a nav-rogin-a opacity" href=""></a></li>
				</ul>
				<th:block th:if="${statusMessage}">
					<p class="statusMessage" th:text="${statusMessage}"></p>
				</th:block>
			</div>
		</nav>

		<main class="main-detail">
			<section>
				<div class="">
					<div class="detail-title">
						<ul class="">
							<li th:each="recipe : ${recipesDetail}"><a
								style="font-size: 2.5rem;">[[${recipe.title}]]</a></li>
						</ul>
					</div>
				</div>
			</section>

			<section class="flex-around ingredients-amounts">
				<section class="ingredients-amounts-section"
					th:each="recipe : ${recipesDetail}">
					<img th:src="@{/uploads/{img}(img=${recipe.photo})}"
						alt="${recipe.photo}" width="90%" height="">
					<!-- 				<section class="ingredients-amounts-section" th:each="recipe : ${recipesDetail}"> -->
					<!--  						<img th:src="@{/uploads/{img}(img=${recipe.photo})}" alt="${recipe.photo}" width="400" height="400"> -->

					<!-- 				<section class="ingredients-amounts-section"> -->
					<!--  						<img th:src="@{/uploads/{img}(img=${recipesDetail.photo})}"> -->

					<!-- 					<img src="/images/nikudango.jpg" alt="" width="400" height="400"> -->
				</section>

				<section class="ingredients-detail">
					<div class="ingredients-detail-container">
						<h3>材料</h3>
						<!-- 1 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient1'] != null and recipesDetail[0].ingredients[0]['ingredient1'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient1']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount1'] != null and recipesDetail[0].amounts[0]['amount1'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount1']}"></dd>
						</dl>

						<!-- 2 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient2'] != null and recipesDetail[0].ingredients[0]['ingredient2'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient2']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount2'] != null and recipesDetail[0].amounts[0]['amount2'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount2']}"></dd>
						</dl>

						<!-- 3 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient3'] != null and recipesDetail[0].ingredients[0]['ingredient3'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient3']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount3'] != null and recipesDetail[0].amounts[0]['amount3'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount3']}"></dd>
						</dl>

						<!-- 4 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient4'] != null and recipesDetail[0].ingredients[0]['ingredient4'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient4']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount4'] != null and recipesDetail[0].amounts[0]['amount4'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount4']}"></dd>
						</dl>

						<!-- 5 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient5'] != null and recipesDetail[0].ingredients[0]['ingredient5'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient5']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount5'] != null and recipesDetail[0].amounts[0]['amount5'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount5']}"></dd>
						</dl>

						<!-- 6 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient6'] != null and recipesDetail[0].ingredients[0]['ingredient6'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient6']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount6'] != null and recipesDetail[0].amounts[0]['amount6'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount6']}"></dd>
						</dl>

						<!-- 7 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient7'] != null and recipesDetail[0].ingredients[0]['ingredient7'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient7']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount7'] != null and recipesDetail[0].amounts[0]['amount7'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount7']}"></dd>
						</dl>

						<!-- 8 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient8'] != null and recipesDetail[0].ingredients[0]['ingredient8'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient8']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount8'] != null and recipesDetail[0].amounts[0]['amount8'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount8']}"></dd>
						</dl>

						<!-- 9 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient9'] != null and recipesDetail[0].ingredients[0]['ingredient9'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient9']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount9'] != null and recipesDetail[0].amounts[0]['amount9'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount9']}"></dd>
						</dl>

						<!-- 10 -->
						<dl class="flex-between">
							<dt
								th:if="${recipesDetail[0].ingredients[0]['ingredient10'] != null and recipesDetail[0].ingredients[0]['ingredient10'] != ''}"
								th:text="${recipesDetail[0].ingredients[0]['ingredient10']}"></dt>
							<dd
								th:if="${recipesDetail[0].amounts[0]['amount10'] != null and recipesDetail[0].amounts[0]['amount10'] != ''}"
								th:text="${recipesDetail[0].amounts[0]['amount10']}"></dd>
						</dl>
					</div>
				</section>
			</section>
			<section class="process-detail">
				<div class="process-detail-container">
					<h3>つくり方</h3>
					<div class="ingredients-detail-container">
						<div class="flex-between">
							<ol th:each="detailItem : ${recipesDetail}"
								th:if="${detailItem.textarea}">
								<li th:each="i : ${#numbers.sequence(1, 10)}"
									th:if="${detailItem.textarea[0]['textarea' + i] != null and detailItem.textarea[0]['textarea' + i] != ''}">
									<span th:text="${detailItem.textarea[0]['textarea' + i]}"></span>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>

	<!-- 	</div> -->
	<script src="/js/script.js"></script>
</body>

</html>